<div class="row mt">
	<div class="content-panel col-lg-12">
		<div class=" ">
			<h4 class="mb">Aggregate Responses to Call-To-Action</h4>
			<%= form_tag("/notification/cta_report",class:"form-inline", role:"form", enctype:"multipart/form-data", id:"notificationForm") do%>
			<div class="form-group">
				<%= select_tag("cta", options_for_select(@account.notifications.where(:format=>"cta").map{|n| [n.name,n.id]}), class:"form-control") %>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-theme">
					Show
				</button>
			</div>

			<%end%>

		</div>
		<hr />
	</div>
</div>
<div class="row mt">
	<div class="col-lg-12">
		<div class="content-panel ">
			<h4><i class="fa fa-angle-right"></i> Results</h4>
			<hr>
			<table class="table table-striped table-advance table-hover">

				<thead>
					<tr>
						<th>Date</th>
						<th><i class="fa fa-user"></i> User</th>
						
						<%
						@fields.each{|field|
						%><th><%= field%></th><%
						}
						%>

					</tr>
				</thead>
				<tbody>
					<%
					@events.each{|event|
					%>
					<tr>
						<td><%= event.created_at%></td>
						<td><%= event.user.uid%></td>
						<%
						@fields.each{|field|
						%><td><%= event.data[field]%></td><%
						}
						%>
					</tr>
					<%
					}
					%>

				</tbody>
			</table>

		</div>
	</div>
</div>
