<script type="text/javascript">
	

	function abortAction() {
		$('#previewBox').modal('hide');
	}

</script>


<ul class="list-group">
	<%
	i=0
	@data.compact.each{|lcl|

	%>
	<li class="list-group-item">
		<button type="button" class="btn btn-default btn-xs pull-right" onclick="cnt.removeLanguage($('#notificationForm'),<%=i%>);return false;"><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
		Language: <span class="label label-primary"><%= @account.languages.find_by_code(lcl["lang"]).name%></span>
		<input type="hidden" name="data[]lang" value="<%= lcl["lang"]%>"/>
		<div class="form-group">
			<label for="name">Title</label>
			<input name="data[]title" class="form-control" value="<%= lcl["title"]%>">
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-theme pull-right" onclick="cnt.showPreview($('#message_html').val());return false;">Preview</button>
			<label for="name">HTML Message</label>
			<textarea id="message_html" name="data[]message" class="form-control " rows="5"><%= lcl["message"]%></textarea>
			
		</div>
		
	</li>

	<%
	i+=1
	}

	%>

	<li class="list-group-item">
		<div class="input-group">
			<%= select_tag("language", options_for_select(@account.languages.map{|o| [o.name, o.code]},@account.conf["lang"]),class:"form-control") %>
			<div class="input-group-btn">
				<button type="button" class="btn btn-default" onclick="cnt.messageContentForm($('#notificationForm'));return false;">Add a Language</button>
			</div>
		</div>
	</li>
</ul>

<script src="/ckeditor/ckeditor.js"></script>




<div id="previewBox" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: absolute">
	<div class="modal-dialog" style="position: inherit;width: 100%;height: 100%;">
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Message Preview</h4>
			</div>
			<div class="modal-body" id="previewContent">
				
			</div>
			
		</div>
	</div>
</div> 