<div class="panel panel-default">
	<div class="panel-body">
		<%= form_tag("/admin/uniq_events", role:"form", enctype:"multipart/form-data", class:"form-inline") do%>
		<div class="form-group ">
			<label >Select Node</label>
		</div>
		<div class="form-group">
			<%= select_tag("node_id", options_for_select(@account.nodes.map{|o| [o.name, o.id]},params[:node_id]),class:"form-control") %>
		</div>
		<button type="submit" class="btn btn-default">
			Go
		</button>
		<%end%>
	</div>
</div>
<%
 events = []
 
 if params[:node_id].present?
    node = @account.nodes.find params[:node_id]
    size = node.users.size
    if size>0
    	events = node.user_events.map{|k,v| {:name=>k,:value=>(v / (size)) }}
    end
end
%>
<div class="panel panel-default">
	<div class="panel-body">
		Population: <%=size || 0%>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Code</th>
			<th>Avarage of Values</th>
		</tr>
	</thead>
	<tbody>
		<%
		events.each{|event|
		%>

		<tr>
			<td><%= event[:name]%></td>
			<td><%= event[:value]%></td>
		</tr>

		<%
		}
		%>

	</tbody>
</table>