<%= render "confirmation_box"%>
<% @entities<<@entity.new%>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= @entity.name%>

		<%=form_tag("/set/#{@entity}",style:"float: right", role:"form") do%>
		<button value="Edit" class="btn btn-default" style="float: right;margin-top: -7px">
			<span class="glyphicon glyphicon-cloud-upload"></span> Upload
		</button>
		<input type="file" name="upload" style="float: right;margin-right: -89px;width: 91px;opacity: 0.01">
		<% end %>

	</div>
	<div class="panel-body">

		<ul class="nav nav-tabs">
			<%
			@entity.galeries(@account.id).each{|g|
			%>
			<li class="active">
				<a href="#"><%= g%></a>
			</li><%
			}
			%>

		</ul>
		<br />
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<a href="#" class="thumbnail"> <%=form_tag("/show/#{@entity}", role:"form") do%>
				<button value="Edit" class="btn btn-default" >
					<span class="glyphicon glyphicon-cloud-upload"></span> Upload
				</button> <% end %></a>
			</div>
			<%
			@entity.galery(@account.id, params[:galery]).each{|item|
			%>
			<div class="col-sm-6 col-md-3">
				<a href="#" class="thumbnail"> <img data-src="<%=item.image_url%>" alt="<%=item.label%>"> </a>
			</div>
			<%
			}
			%>
		</div>

	</div>
</div>
