<%= render "confirmation_box"%>
<% @entities<<@entity.new%>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= @entity.name.pluralize%> <%= params[:galery]%>

		<%=form_tag("/set/#{@entity}",style:"float: right", role:"form", enctype:"multipart/form-data") do%>
		<button value="Edit" class="btn btn-default btn-primary" style="float: right;margin-top: -7px">
			<span class="glyphicon glyphicon-cloud-upload"></span> Upload
		</button>
		<input type="file" name="upload" style="float: right;margin-right: -89px;width: 91px;opacity: 0.01">
		<% end %>

	</div>
	<div class="panel-body">

		<ul class="nav nav-pills">
			<%
			@entity.galeries(@account.id).each{|g|
			%>
			<li>
				<%=form_tag("/list/#{@entity}", role:"form") do%>
				<input type="hidden" name="by_field" value="galery"/>
				<input type="hidden" name="galery" value="<%= g%>"/>
				<button type="submit" class="btn btn-<%= params[:galery]==g ? 'primary' : 'default'%>">
					<%= g%>
				</button> <%end%> 
			</li><%
			}
			%>

		</ul>
		<br />
		<div class="row">
			<div class="col-sm-2 col-md-2">
				<%=form_tag("/show/#{@entity}", role:"form") do%>
				<button value="Edit" class="btn btn-default btn-primary" >
					<span class="glyphicon glyphicon-cloud-upload"></span> Upload
				</button>
				<% end %>
			</div>
			<%
			galery =  params[:galery] || @entity.galeries(@account.id).first
			@entity.galery(@account.id, galery).each{|item|
			%>
			<div class="col-sm-6 col-md-3">
				<a class="thumbnail"> <img src="<%= item.image_uri%>" alt="<%= item.name%>"> <%= item.name%>
				<%=form_tag("/delete/#{@entity}/#{item.id}",style:"float: right", role:"form", enctype:"multipart/form-data") do%> <button class="glyphicon glyphicon-remove" onclick="this.form.submit()"> </button><%end%> </a>
			</div>
			<%
			}
			%>
		</div>

	</div>
</div>
