
<% @entities<<@entity.new%>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= @entity.name%>
	</div>
	<div class="panel-body">
		<table class="table table-striped">

			<thead>
				<tr>
					<th width="10px"></th>
					<%
					(@entity.column_names-["id","account_id","created_at","updated_at"]).each{|k|
					%><th><%= k.humanize%></th><%
					}
					%>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<%
				@entities.each{|entity|
				%>

				<tr>
					<form role="form" id="edit_form_<%= entity.id%>" action="/set/<%= @entity%>/<%= entity.id%>" method="post">
						<td><span style="color: silver;font-size: 8px"><%= entity.id%></span>&nbsp;</td>
						<%
						(@entity.column_names-["id","account_id","created_at","updated_at"]).each{|k|
						%><td>
						<div class="form-group">
							<input class="form-control" type="text" name="<%= k%>" value="<%= entity[k]%>" style="width: 100%">
						</div></td><%
						}
						%>

						<td width="140px">
						<input type="submit" value="Save" class="btn btn-default">
						&nbsp;&nbsp; <a onclick="confirmAction('Delete this <%= @entity%>?','/delete/<%= @entity%>/<%= entity.id%>');return false;" href="#" class="btn btn-danger btn-xs" >Delete</a></td>
					</form>
				</tr>

				<%
				}
				%>

			</tbody>
		</table>
	</div></div>
