<%
 instance = params[:id].present? ? @entity.find(params[:id]) : @entity.new
  columns = @entity.column_names-["id","account_id","created_at","updated_at"]

%>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= params[:id].present? ? "Editing" : "Creating"%> <%= @entity.name%>
	</div>
	<div class="panel-body">

		<%= form_tag("/set/#{@entity}", role:"form", enctype:"multipart/form-data") do%>
		<input type="hidden" name="id" value="<%= params[:id]%>" />
		<%
		columns.each{|k|
		%>
		<div class="form-group">
			<label for="<%= k%>"><%= k.humanize%></label>
			<%
			logger.debug k
			desc = @entity.describe(k)

			case desc[:type].to_sym
			when :string, :integer, :decimal, :float
			%>
			<input name="<%= k%>" type="text" class="form-control" id="<%= k%>" placeholder="" value="<%= instance[k]%>">
			<%
			when :belongs_to
			%><%= select_tag(k, options_for_select(desc[:entity].all.where(:account_id=>@account.id).map{|o| [o.name, o.id]})) %><%
			when :text
			%>			<textarea name="<%= k%>" class="form-control" rows="3"><%= instance[k]%></textarea><%
			when :image
			%>
			<p style="float: right;">
				<span class="label label-default"><%= instance.image_uri.nil? ? "No Image Yet" : "Current Image:"%></span><img src="<%= instance.image_uri%>"  class="img-responsive img-circle" >
			</p>
			<input name="upload" type="file" name="upload" >
			<p class="help-block">Image will appear only after form submission</p>
			<%
			when :Array
			%>			<textarea name="<%= k%>" class="form-control" rows="3"><%= instance[k]%></textarea><%
			end%>

		</div>

		<%
		}
		%>
		<p>
			<button type="submit" class="btn btn-primary">
				&nbsp;Save&nbsp;
			</button>
			&nbsp;&nbsp;&nbsp;
			<button class="btn btn-warning">
				Cancel
			</button>
		</p>
		<% end %>
	</div>
</div>

