<%
 instance = params[:id].present? ? @entity.find(params[:id]) : @entity.new
 columns = @entity.column_names-["id","account_id","created_at","updated_at"]

%>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= params[:id].present? ? "Editing" : "Creating"%> <%= @entity.name%>
	</div>
	<div class="panel-body">
		
		<%= form_tag("/set/#{@entity}", role:"form") do%>
		<input type="hidden" name="id" value="<%= params[:id]%>" />
		<%
		columns.each{|k|
		%>
		<div class="form-group">
			<label for="<%= k%>"><%= k.humanize%></label>
			<%
			logger.debug @entity.inspect
			desc = @entity.describe(k) 
			
			case desc[:type].to_sym
			when :string, :integer, :decimal, :float
			%><input name="<%= k%>" type="text" class="form-control" id="<%= k%>" placeholder="" value="<%= instance[k]%>"><%
			when :has_many
			%><input name="<%= k%>" type="text" class="form-control" id="<%= k%>" placeholder="" value="<%= instance[k]%>"><%
			when :text
			%><textarea name="<%= k%>" class="form-control" rows="3"><%= instance[k]%></textarea><%
			when :Array
			%><textarea name="<%= k%>" class="form-control" rows="3"><%= instance[k]%></textarea><%
			end%>
		</div>

		<%
		}
		%>
		<p>
			<button type="submit" class="btn btn-primary">
				&nbsp;Save&nbsp;
			</button>
			&nbsp;&nbsp;&nbsp;
			<button class="btn btn-warning">
				Cancel
			</button>
		</p>
		<% end %>
	</div>
</div>

