<div class="panel panel-default" style="opacity: 1">
	<div class="panel-heading">
		Edge from <span class="label label-primary"><%=@edge.source.name%></span> to <span class="label label-success"><%=@edge.target.name%> </span>
		<span class="glyphicon glyphicon-remove" style="float: right" onclick="closeForm()"></span>
	</div>

	<div class="panel-body" style="overflow: auto;height: 500px;">
		<%
		(@edge.rules + [Rule.new]).each{|rule|
		%>
		<%= form_tag("",class:"form", role:"form",onsubmit:"controller.saveRule($(this));return false;") do%>
		<input name="id" type="hidden" value="<%= rule.id%>">
		<input name="node_id" type="hidden" value="<%= @edge.source.id%>">
		<input name="edge_id" type="hidden" value="<%= @edge.id%>">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>IF ALL (and):
					<div class="btn-group" style="float: right;">
						<button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-ok-circle"></span> Save</button>
						<button type="button" class="btn btn-default btn-xs" onclick="closeForm();return false;"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
					</div>	
					</th>
					<th style="width: 50px"></th>
				</tr>
			</thead>
			<tbody>
				<%
				rule.demand# = rule.demand
				
				(rule.require + [""]).each{|condition|
				%>
				<tr>
					<td>
					<input id="---1" name="require[]" type="text" class="form-control requirment" value="<%= condition%>" >
					</td>
					<td><span class="glyphicon glyphicon-remove-circle" onclick="closeForm()"></span></td>
				</tr>

				<%
				}
				%>

			</tbody>
		</table>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Then do:</th>
					<th style="width: 50px"></th>
				</tr>
			</thead>
			<tbody>
				<%
				(rule.demand + [""]).each{|result|
				%>
				<tr>
					<td>
					<input id="---2" name="demand[]" type="text" class="form-control demand" value="<%= result%>" >
					</td>
					<td><span class="glyphicon glyphicon-remove-circle" onclick="closeForm()"></span></td>
				</tr>

				<%
				}
				%>

			</tbody>
		</table>
		
		
		<%
		end
		%><hr><%
		}%>
	</div>
</div>
<script>

var requirments =<%= raw(@require.to_json)%>;
var demands =<%= raw(@demand.to_json)%>;

$(document).ready(function() {
	//domO.val(initData);
	$(".requirment").each(function(){
		makeRule($(this), requirments);
	});
	$(".demand").each(function(){
		makeRule($(this), demands);
	});
	

});
	
</script>


