

<div class="btn-group" style="float: left;margin-top: -56px;z-index: 99999;">

	<button type="button" class="btn btn-default" title="New Enttry Point" onclick="$('#newNodeForm').toggle('fast');$('#selectNodeForm').hide('fast')">
		<span class="glyphicon glyphicon-star"></span>
	</button>
	<button type="button" class="btn btn-default" title="Select Other Entry point" onclick="$('#selectNodeForm').toggle('fast');$('#newNodeForm').hide('fast');">
		<span class="glyphicon glyphicon-list"></span>
	</button>

</div>

<div style="z-index: 0">
	<div style="z-index: 1;position: fixed;">
		<%= form_tag("",class:"form-inline", role:"form",style:"display:none",id:"newNodeForm",onsubmit:"controller.setEntryPoint($(this));return false;") do%>
		<div class="input-group">
			<span class="input-group-addon "><span class="glyphicon glyphicon-star"></span></span>
			<input name="name" type="text" class="form-control" placeholder="New Entry Point Name">
		</div>
		<%end%>
		<%= form_tag("",class:"form-inline", role:"form",style:"display:none",id:"selectNodeForm",onsubmit:"controller.setEdge($(this));return false;") do%>
		<div class="form-group">
			Link Nodes
		</div>
		<div class="form-group">
			<%= select_tag("nodeA", options_for_select(@account.nodes.map{|c| [c.name,c.id]}),class:"form-control") %>
		</div>
		<div class="form-group">
			to
		</div>
		<div class="form-group">
			<%= select_tag("nodeB", options_for_select(@account.nodes.map{|c| [c.name,c.id]}),class:"form-control") %>
		</div>
		<button type="submit" class="btn btn-default" onclick="closeForm()">Create</button>
		<%end%>
	</div>

	<div id="formHolder" style="z-index: 2;position: fixed;top: 130px;width: 60%">
		
	</div>

	
	<div style="z-index: -100" class="graph-goes-here"></div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/tag-it.js"></script>
<script>
function openForm(type,data){
	$("#formHolder").html(type);
	var name = "#"+type+"FormTemplate";
	$("#formHolder").html(data);
}

function closeForm(){
	$("#formHolder").html("");
}

var controller;
$(document).ready(function() {
	controller = new GraphController({links:<%= raw(@links.to_json)%>,nodes:<%= raw(@nodes.to_json)%>});
})

</script>

