<div class="panel panel-default" style="opacity: 1">
	<div class="panel-heading">
		Node
		<button class="btn btn-default btn-primary btn-sm" type="button" onclick="$('#renameNodeForm').toggle('fast');">
			<%= @node[:name]%>
		</button>
		<span class="glyphicon glyphicon-remove" style="float: right" onclick="closeForm()"></span>
		<%= form_tag("",class:"form-inline", role:"form",style:"display:none;margin-left: 37px;margin-top: 6px;",id:"renameNodeForm",onsubmit:"controller.setEntryPoint($(this));return false;") do%>
			<input name="id" type="hidden" value="<%= @node[:id]%>">
			<div class="form-group">
				<input name="name" type="text" class="form-control" placeholder="Rename">
			</div>
			&nbsp;
			<div class="checkbox">
				<label>
					<input name="do_delete" type="checkbox" onchange="controller.renameOrSubmitLabel($(this),$('#renameORsubmitBTN'))">
					OR Delete </label>
			</div>
			&nbsp;
			<button id="renameORsubmitBTN" type="submit" class="btn btn-default btn-primary" onclick="closeForm()">
				Rename
			</button>
		<%end%>
	</div>

	<div class="panel-body" style="overflow: auto;height: 500px;">
		<div id="ruleForm" ></div>
		<div id="ruleList" class="list-group">
			
		</div>
		
	</div>
</div>
<script>
	var getRuleForm=function(id){
		$('#ruleList').text("");
		$.ajax({
			url : "/graph/get_rule/",
			data : {id:id,node_id:<%=@node[:id]%>}
			//dataType : "JSON" // you want a difference between normal and ajax-calls, and json is standard
		}).success(function(res) {
			$('#ruleForm').html(res);
		});
	
	}
	var getRuleList=function(){
		$('#ruleForm').text("");
		$.ajax({
			url : "/graph/list_rules/",
			data : {node_id:<%=@node[:id]%>}
			//dataType : "JSON" // you want a difference between normal and ajax-calls, and json is standard
		}).success(function(res) {
			$('#ruleList').html(res);
		});
	
	}
	getRuleList();
</script>
