
<div class="panel panel-default">
	<div class="panel-heading">
		Marketing Flow Clustering

	</div>
	<div class="panel-body">
		<table class="table table-striped">

			<thead>
				<tr>
					<th width="10px"></th>
					<th>Name</th>
					<th>Population</th>
					<%
					@paragons.each{|p|
						%>
						<th><%=p[:name]%></th>
						<%
					}
					%>
					
					
				</tr>
			</thead>
			<tbody>
				<%
				@nodes.each{|node|
				%>

				<tr>
					<td><span style="color: silver;font-size: 8px"><%= node.id%></span>&nbsp;</td>
					<td><%= node.name%></td>
					<td><%= node.users.size%></td>
					<%
					@paragons.each{|p|
						%>
						<td><%= @res[node.id][p]%></td>
						<%
					}
					%>
					
				</tr>
				<%
				}
				%>

			</tbody>
		</table>
	</div>
</div>
