<style>
	.axis path, .axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
</style>

<div class="donut-main col-lg-4 ds">

	<div class="desc" style="height: 350px">
		<h4>Demography</h4>
		<div id="demography_graph"></div>
	</div>

	<div class="desc">
		<h4>Traffic sources</h4>
		<div id="traffic_graph"></div>
	</div>
	<div class="desc">
		<h4>Customer Lifespan</h4>
		<div id="lifespan_graph"></div>
	</div>

</div>

<div class="donut-main col-lg-4 ds">

	<div class="desc">
		<h4>Marketting segments</h4>
		<div id="node_graph"></div>
	</div>

	<div class="desc">
		<h4>Top Offerings and Recommendations</h4>
		<div id="cta_graph"></div>
	</div>
	<div class="desc">
		<h4>Top Flows</h4>
		<div id="flow_graph"></div>
	</div>

</div>

<script>

	draw.horisontalBars("demography_graph",<%= raw([{:label=>"sex",:male=>10,:female=>20},{:label=>"range",:male=>20,:female=>15}].to_json)%>);
draw.pie("traffic_graph",<%= raw(@vector.map{|k,v| {:name=>k, :value=>v}}.to_json)%>);
draw.pie("lifespan_graph",<%= raw(@vector.map{|k,v| {:name=>k, :value=>v}}.to_json)%>);
draw.pie("node_graph",<%= raw(@vector.map{|k,v| {:name=>k, :value=>v}}.to_json)%>);
draw.pie("cta_graph",<%= raw(@vector.map{|k,v| {:name=>k, :value=>v}}.to_json)%>);
draw.pie("flow_graph",<%= raw(@vector.map{|k,v| {:name=>k, :value=>v}}.to_json)%>
	);

</script>