<div class="panel panel-default">
	<div class="panel-heading">
		Preform an Action on a Cluster "Like" segment

	</div>
	<div class="panel-body">

		<%= form_tag("/cluster/set", role:"form", enctype:"multipart/form-data", id:"notificationForm") do%>

		<div class="form-group" id="notificationNameInput">
			<label for="name">Select a Target Population</label>
			<%= select_tag(:id, options_for_select(@account.clusters.map{|o| [o.name, o.id]}), class:"form-control") %>
			<span class="help-block">The Batch will run on this population</span>
		</div>
		<div class="form-group" id="notificationNameInput">
			<label for="name">Select a Positive Reference</label>
			<%= select_tag(:id, options_for_select(@account.clusters.map{|o| [o.name, o.id]}), class:"form-control") %>
			<span class="help-block">The Batch will include users that are similar to this cluster</span>
		</div>

		<div class="form-group" id="notificationNameInput">
			<label for="name">Select Negative References</label>
			<%= select_tag(:clusters, options_for_select(@account.clusters.map{|o| [o.name, o.id]}),:multiple => true, class:"form-control") %>
			<span class="help-block">The batch will exclude users that are similar to these clusters</span>
		</div>

		<div class="form-group" id="notificationNameInput">
			<label for="name">Choose Batch Action</label>
			<%= select_tag(:id, options_for_select(["Send Notification","Flag users","Upset Scale","Grant Badge", "Revoke Badge","Migrate to Node"]), class:"form-control") %>
			<span class="help-block">The action to take on the selected users</span>
		</div>
		<p>
			<button type="submit" class="btn btn-primary" >
				&nbsp;Run Batch&nbsp;
			</button>
			&nbsp;&nbsp;&nbsp;
			<button class="btn btn-warning" >
				Cancel
			</button>
		</p>
		<% end %>
	</div>
</div>

