<div>

	<ul class="list-group">
		<li class="list-group-item">
			Proximity of users in this node to the other nodes

			<table class="table table-striped">

				<thead>
					<tr>
						<th width="10px"></th>
						<th>Name</th>
						<th>Population</th>
						<th>Relative (%)</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<%
					@nodes.each{|node|
					%>

					<tr>
						<td><span style="color: silver;font-size: 8px"><%= node[:id]%></span>&nbsp;</td>
						<td><%= node[:name]%></td>
						<td><%= node[:p]%></td>
						<td><%= 100* node[:p].to_f/@node.users.size.to_f%></td>
						<td>
						</td>
					</tr>
					<%
					}
					%>

				</tbody>
			</table>

		</li>
		<li class="list-group-item">
			Segmentation of users in this node to homogenus groups
			
			<table class="table table-striped">

				<thead>
				<tr>
					<th>Code</th>
					<th>Population</th>
					<th>Footprint</th>
				</tr>
			</thead>
			<tbody>
				<%
				@paragons.each{|point|
				%>

				<tr>
					<td><%= point[:name]%></td>
					<td><%= point[:value]%></td>
					<td><%= point[:p]%></td>
				</tr>

				<%
				}
				%>

			</tbody>
			</table>
			
		</li>

	</ul>

</div>
