<div class="panel panel-default">
	<div class="panel-heading">
		Clue Moderation
		<div class="pull-right col-md-3" style="margin-top: -4px">
		
			<%=form_tag("/wb/clue_moderation",id:"searchForm", role:"form") do%>
			<div class="input-group input-group-sm">
				<input name="id" type="text" class="form-control" placeholder="Search For" value="<%=params[:id]%>">
				<span class="input-group-addon" ><span class="glyphicon glyphicon-search" onclick="$('#searchform').submit()"> </span></span>
			</div>
			<%end%>
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-striped">

			<thead>
				<tr>
					<th width="10px"></th>
					<th >Clue</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<%
				(@clues).each{|entity|
				%>

				<tr>
					<%=form_tag("/wb/clue_moderation_act/",class:"form-horizontal", role:"form") do%>
					<td><span style="color: silver;font-size: 8px"></span><%= entity["id"]%></td>
					<input name="id" type="hidden" class="form-control" value="<%= entity["id"]%>">
					<td><input name="name" type="text" class="form-control" value="<%= entity["name"]%>"></td>
					

					<td width="140px">
						<button name="act" value="save" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-send"></span></button>
						<button name="act" value="delete" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
						
					</td>
 					<% end %>
				</tr>

				<%
				}
				%>

			</tbody>
		</table>
	</div>
</div>
