<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Lazy eye developer">
		<link rel="shortcut icon" href="/favicon.ico">
		<title>Ulixes <%= @account.name%></title>

		<!-- Bootstrap core JavaScript -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

		<!-- Latest compiled and minified JavaScript -->
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<link href="/assets/css/font-awesome.css" rel="stylesheet" />

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<section id="container" >
			<!-- **********************************************************************************************************************************************************
			TOP BAR CONTENT & NOTIFICATIONS
			*********************************************************************************************************************************************************** -->
			<!--header start-->
			<header class="header black-bg">
				<div class="sidebar-toggle-box">
					<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
				</div>
				<!--logo start-->
				<a href="/admin" class="logo"><b>ULIXES.<span>IO</span></b></a>
				<!--logo end-->

				<div class="top-menu">
					<ul class="nav pull-right top-menu">
						<li>
							<a class="logout" href="/admin/logout">Logout - <b><%= @user.login.upcase%></b></a>
						</li>
					</ul>
				</div>
			</header>
			<!--header end-->

			<!-- **********************************************************************************************************************************************************
			MAIN SIDEBAR MENU
			*********************************************************************************************************************************************************** -->
			<!--sidebar start-->
			<aside>
				<div id="sidebar"  class="nav-collapse ">
					<!-- sidebar menu start-->
					<ul class="sidebar-menu" id="nav-accordion">
						<li class="mt">
							<a class="" href="/admin"> <i class="fa fa-dashboard"></i> <span><%= @account.name%></span> </a>
						</li>
						<%
						current_location = request.path_info.split("/").take(3).join("/")
						@user.role.lock.each{|sm|
						menu_active = sm[:items].map{|m| m[:uri]}.include?(current_location) ? "active" : ""
						%>
						<li id="menu_<%= sm[:name].hash%>" class="sub-menu dcjq-parent-li">
							<a href="javascript:;" class="dcjq-parent <%= menu_active%>"> <i class="fa fa-desktop"></i> <span><%= sm[:name]%></span> </a>

							<ul class="sub">
								<%
								sm[:items].each{|m|
								%>
								<li>
									<a onclick="localStorage.setItem('active_menu', '<%= sm[:name].hash%>')" href="<%= "#{m[:uri]}"%>"><%= m[:name]%></a>
								</li>
								<%
								}
								%>
							</ul>

							<%
							}

							%>

					</ul>
					<!-- sidebar menu end-->
				</div>
			</aside>
			<!--sidebar end-->

			<!-- **********************************************************************************************************************************************************
			MAIN CONTENT
			*********************************************************************************************************************************************************** -->
			<!--main content start-->
			<section id="main-content">
				<section class="wrapper">

					<%= yield %>

				</section>
			</section>

			<!--main content end-->
			<!--footer start-->

			<!--footer end-->
		</section>
		<script class="include" type="text/javascript" src="/assets/jquery.dcjqaccordion.2.7.js"></script>
		<script src="/assets/jquery.scrollTo.min.js"></script>
		<script src="/assets/jquery.nicescroll.js" type="text/javascript"></script>
		<script src="/assets/jquery.sparkline.js"></script>

		<script src="/assets/common-scripts.js"></script>

		<script type="text/javascript" src="/assets/gritter/js/jquery.gritter.js"></script>
		<script type="text/javascript" src="/assets/gritter-conf.js"></script>

		<!-- Page Specific Plugins -->
		<script>
			$('#menu_' + localStorage.getItem('active_menu')).addClass('active');
			console.log(localStorage.getItem('active_menu'));
		</script>

	</body>
</html>